{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
  <h1>Log in</h1>

  {% if session.username %}
    <p>You are already logged in as {{ session.username }}.</p>
    <p><a href="/logout">Log out</a></p>
  {% else %}
    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" required />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" required />
      </p>
      <input type="submit" value="Log in" />
    </form>
  {% endif %}
{% endblock %}